<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DOITtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF88D1ED1E812DC500E2D584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF88D2041E812DC900E2D584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF88D20F1E812DC900E2D584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
